body{
  height:100vh;
  margin:0;
  padding:0;
}

.container{
  display:block;
  width:60%;
  margin:auto;
  flex-grow: 1;
}

ul{
  list-style: none;
}

.header-navbar{
  display: flex;
  justify-content: space-between;
  padding:10px;

}

.header-navbar > header{
  font-size: 2em;
  font-weight: bold;
}

.header-navbar > ul > li {
  text-decoration: none;
  font-size: 1.4em;
}

footer{
  text-align: center;
}

h3{
  font-size: 1.9em;
}

.card-container{
  display:flex;
  justify-content: space-between;
}

.card-project{
  width: 250px;
  height: 300px;
  border: 3px solid black;
  border-radius: 15px;;
}

.card-project > img{
  width: 250px;
}